<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome to your Dashboard, <%= currentUser.username %>!</h1>
    <p>This is your protected dashboard area.</p>
    <a href="/log-out">LOG OUT</a>
  </body>
</html>
