<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <% if (locals.currentUser) { %>
    <h1>Welcome back, <%= currentUser.username %></h1>
    <a href="/log-out">LOG OUT</a>
  <% } else { %>
    <%- include('auth/sign-up-form') %>
  <% } %>
</body>
</html>