# ===== server\.env =====


# --- Execution Environment ---
# Controls app behavior (logging, error detail, db switching)
# Options: development, test, production
NODE_ENV=development

# --- Network Configuration ---
# Sample: SERVER_PORT=3000
SERVER_PORT=5080

# --- Database Infrastructure (PostgreSQL) ---
# Primary database connection string for development.
# Sample: DATABASE_URL=postgresql://user:pass@localhost:5432/main_db
DATABASE_URL=postgresql://User:password@host:port/database_name?schema=public

# --- Security & Access Control ---
# Secret key used for signing and verifying JSON Web Tokens
JWT_SECRET=a_very_long_random_string_123_!@
# Authorized frontend origins for Cross-Origin Resource Sharing
# Format: Comma-separated list without spaces
CORS_ALLOWED_ORIGINS=protocol://host:port,protocol2://host2:port2





# ===== server\.env.test =====


# --- Database Infrastructure (PostgreSQL) ---
# Required for Prisma scripts (db:test:push, etc.)
# Prisma ignores TEST_DATABASE_URL and looks specifically for this key.
# Sample: DATABASE_URL=postgresql://user:pass@localhost:5432/test_db
DATABASE_URL=postgresql://User:password@host:port/database_name?schema=public
# Required for Custom Pool (server\src\db\pool.js)
# Your code uses this key when NODE_ENV is set to 'test'.
# Sample: TEST_DATABASE_URL=postgresql://user:pass@localhost:5432/test_db
TEST_DATABASE_URL=postgresql://User:password@host:port/database_name?schema=public